* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f0f3fa;
  padding-top: 132px;
}

/* Header Menu */
.header-menu {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background: white;
  box-shadow: 0px 2px 5px 0px #00000036;
}
.loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 15px;
  border-radius: 50px;
  font-weight: 600;
  margin: 0px 20px;
  background-color: white;
  color: #fe7f03;
  border-color: #fe7f03;
}
.loginbtn:hover {
  background-color: #ececec;
  color: #e37200;
  border-color: #e37200;
}
.header-menu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: fit-content;
  float: left;
  margin-left: 30px;
  margin-top: 5px;
}
.main-menu {
  list-style: none;
  float: right;
}
.main-menu a {
  font-weight: 500;
  color: #3a3a3a;
  font-size: 16px;
  text-decoration: none;
  transition: all 1s;
}
.main-menu :hover a {
  color: #fe7f03;
  text-decoration: underline;
}
.main-menu li {
  float: left;
  padding: 12px 15px;
}
.slider-width {
  width: 100%;
  height: auto;
}

/* second header */
.container {
  margin: 0px auto;
  display: flex;
  align-items: center;
}
.top-header {
  background-color: #fe7f03;
  padding: 5px 0px;
  border-bottom: 2px solid #848484;
}

.news-list {
  background: white;
  border-radius: 5px;
  align-items: center;
  color: #fe7f03;
  padding: 5px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 15px;
}
.headquote {
  font-size: 18px;
  color: white;
  width: 100%;
}
/* News section */
.newsimg {
  width: 25px;
}
.news-events-notice {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  width: 100%;
}
.latest-news {
  margin: 10px;
  /* margin-right: 10px; */
  background: white;
  box-shadow: 0px 2px 5px 0px #00000036;
  padding: 20px;
  height: 350px;
  margin-bottom: 30px;
}
.heading-sec {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  border: 1px solid #cfcfcf;
  padding-top: 10px;
  display: flex;
  align-items: center;
  background: #fe7f03;
  color: white;
}
.head-title {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px;
}
.latest-news-ul {
  padding: 0px;
  list-style: none;
  line-height: 30px;
}
.container1 {
  margin-left: 80px;
  width: 35%;
}
.container2 {
  width: 35%;
}
.container3 {
  margin-right: 80px;
  width: 35%;
}

/* Upcoming Events */
.date {
  background: #279eff;
  color: white;
  padding: 5px;
  font-size: 13px;
  font-weight: 600;
  margin-right: 20px;
}

.events {
  display: flex;
  align-items: center;
  padding-top: 20px;
  width: 100%;
}
.event {
  font-size: 15px;
}
/* Notice Board */
.all-notice li {
  list-style: none;
  font-size: 14px;
  padding-bottom: 18px;
  line-height: 20px;
}
.all-notice i {
  color: #fe7f03;
  padding-right: 10px;
  font-size: 20px;
}
/* About Section */
.about-section {
  text-align: center;
  align-items: center;
  margin: 60px 120px;
}
.about-section .title {
  padding-bottom: 10px;
  font-weight: 600;
}
.about-section .title span {
  color: #fe7f03;
}
.about-section .content {
  font-size: 18px;
}

/* Statistics section */
.Statistics .title {
  padding-bottom: 5px;
  font-weight: 600;
}
.Statistics p {
  color: #fe7f03;
}
.content img {
  width: 60px;
}
.content h2 {
  font-weight: 500;
  font-size: 18px;
  color: #3a3a3a;
}
.content h1 {
  color: #191919;
}
.statistic-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.statistic-content .content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  border-bottom: 8px solid #fe7f03;
  margin: 50px;
  width: 120px;
  box-shadow: 0px 2px 5px 0px #00000036;
  transition: 0.5s;
}
.statistic-content .content:hover {
  transform: scale(1.1);
}
.all-Statistics {
  align-items: center;
  text-align: center;
  padding-top: 40px;
}
/* Event card */
.event-card {
  text-align: center;
  padding-top: 65px;
}
.event-card .title {
  font-weight: 600;
}
.event-card .eventp {
  color: #fe7f03;
  padding-top: 5px;
}
.event-card .title span {
  color: #fe7f03;
}
.event-card .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 60px 50px;
}
.event-card .container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 320px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 2px 5px 0px #00000036;
  transition: 0.5s;
}
.event-card .container .card:hover {
  height: 325px;
}
.event-card .container .imgbox {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background-color: #191919;
  border-radius: 8px;
  transition: 1s;
}
.event-card .container .card:hover .imgbox {
  top: -10px;
}
.event-card .container .imgbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.container .card .content {
  position: absolute;
  top: 250px;
  width: 100%;
  padding: 0 30px;
  height: 30px;
  /* overflow: hidden; */
  text-align: center;
}
.container .card .content h2 {
  font-weight: 600;
  font-size: 20px;
}
.container .card .content p {
  color: #3a3a3a;
}

/* contacts */
.contacts .container {
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #fe7f03;
  margin: 40px 150px;
  border-radius: 30px;
  color: white;
  justify-content: center;
  margin-bottom: 100px;
}
.address {
  padding: 30px;
  text-align: center;
}
.address i {
  font-size: 25px;
}
.address h2 {
  font-weight: 600;
  padding: 8px;
}
.number {
  padding: 30px;
  text-align: center;
}
.number i {
  font-size: 25px;
}
.number h2 {
  font-weight: 600;
  padding: 8px;
}
.email {
  padding: 30px;
  text-align: center;
}
.email i {
  font-size: 25px;
}
.email h2 {
  font-weight: 600;
  padding: 8px;
}

/* footer */
footer {
  width: 100%;
  height: 400px;
  background-color: white;
  border-top: 7px solid #fe7f03;
}
.footer {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.footleft {
  margin: 40px;
}
.footleft img {
  width: 80%;
}
.footleft p {
  padding: 20px 0px;
  margin: 20 0px;
}
.footmid {
  margin: 40px;
}
.footmid h2 {
  font-weight: 600;
  font-size: 22px;
  padding: 15px 0px;
  color: #fe7f03;
}
.footmid li {
  list-style: none;
  padding: 5px;
}
.footmid li a:hover {
  color: #fe7f03;
}
.footmid li a {
  text-decoration: none;
  color: #191919;
  transition: 0.3s;
}
.footright {
  margin: 40px;
}
.footright h2 {
  font-weight: 600;
  font-size: 22px;
  padding: 15px 0px;
  color: #fe7f03;
}
.footright p {
  line-height: 27px;
}
.footerbtn button {
  padding: 8px 15px;
  margin-right: 5px;
  font-size: 15px;
  border-radius: 100px;
  color: #fe7f03;
  box-shadow: none;
  border-color: #fe7f03;
  background-color: white;
  font-weight: 600;
  transition: 0.3s;
}
.footerbtn button:hover {
  background-color: #ececec;
  color: #e37200;
  border-color: #e37200;
}
.socialM {
  font-size: 25px;
  padding-top: 10px;
  color: #fe7f03;
}
